.overflow-canva {
    position: absolute;
    width: 100vw;
    min-height: 100%;
    height: auto;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: 500px;
    height: max-content;
    min-height: 500px;
    margin-top: 10px;
    background-color: #2e2e2e;
    border-radius: 10px;
    color: #9a9a9a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-container .close-modal {
    align-self: flex-end;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin: 0;
    padding-right: 15px;
    padding-bottom: 10px;
}

.modal-container .close-modal:hover {
    color: #f9c043;
}


.modal-container .game-over,
.modal-container .about-game {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.modal-container .game-over p:nth-child(1) {
    padding: 0;
    margin: 0;
    margin-top: 2%;
    width: 100%;
    font-size: 28px;
    color: red;
    background-image: linear-gradient(to right,
            transparent 0%,
            transparent 2%,
            #000000 60%,
            transparent 100%);

}

.modal-container .game-over p:nth-child(1) .won-title {
    color: #f9c043;
}

.modal-container .game-over div {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.modal-container .game-over div h2 {
    font-size: 26px;
}

.modal-container .game-over div img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #6b6b6b;
}

.modal-container .game-over button {
    background-color: #040200;
    color: #d9d9d9;
    font-size: 22px;
    width: 50%;
    height: 50px;
    margin-bottom: 3%;
}

.modal-container .game-over button:hover {
    background-color: #040200;
    color: #ffcc4d;
}

.modal-container .about-game {
    width: 90%;
}

.modal-container .about-game h2 {
    color: #ffcc4d;
    font-size: 32px;
}

.modal-container .about-game p {
    font-size: 20px;
}

.modal-container .about-game p strong {
    color: #d9d9d9;
}

.modal-container .about-game p a {
    color: #f9c043;
}

.modal-container .about-game ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}

.modal-container .about-game ul li {
    font-size: 20px;
}